Abyanandi Zaintama

Live Code 1:
Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:

R adalah Kapasitas dalam satuan Ohm
P adalah Daya dalam Watt
I adalah kuat arus dalam satuan Ampere
V adalah tegangan dalam satuan Volt

Hitung kapasitas baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset dengan ketentuan sebagai berikut:

Gunakan function untuk menghitung hambatan dan daya
Harus menerapkan konsep looping, conditional if, dan pandas query

In [1]:
#importing library and datasheet
import pandas as pd
import numpy as np
df = pd.read_excel('NMC1-9.xlsx')
print(df)

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [2]:
df.isnull().sum()/df.shape[0] #Checking null value

time(s)        0.0
V_m            0.0
Current (A)    0.0
Cycle          0.0
Cap            0.0
dtype: float64

In [14]:
#calculating resistance

def resistance(v,i):
    resistance = v/i
    return resistance

df['Resistance'] = resistance(df['V_m'],df['Current (A)'])
df

       time(s)    V_m  Current (A)  Cycle       Cap  Resistance
0            0  4.098        0.997      1  2.840817    4.110331
1            1  4.096        0.998      1  2.840817    4.104208
2            2  4.094        0.999      1  2.840817    4.098098
3            3  4.093        0.998      1  2.840817    4.101202
4            4  4.092        0.999      1  2.840817    4.096096
...        ...    ...          ...    ...       ...         ...
90977    90977  2.506        1.002      9  2.770180    2.500998
90978    90978  2.504        1.002      9  2.770180    2.499002
90979    90979  2.502        1.002      9  2.770180    2.497006
90980    90980  2.500        1.002      9  2.770180    2.495010
90981    90981  2.497        1.002      9  2.770180    2.492016

[90982 rows x 6 columns]

In [3]:
#Filtering odd and even cycle
Cycle_odd = df[df.Cycle % 2 == 0]
Cycle_even = df[df.Cycle % 2 == 1] 

Cycle_even

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[50540 rows x 5 columns]

In [4]:
Cycle_odd

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]

In [15]:
# Calculating power on even cycle
def power (v,i): #Function for power
    power = v*i
    return power

Power_even = Cycle_even[['V_m','Current (A)']]
Power_even ['Power (W)'] = power(Power_even['V_m'],Power_even['Current (A)'])
Power_even.head()

<ipython-input-15-ded7e2c9af97>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Power_even ['Power (W)'] = power(Power_even['V_m'],Power_even['Current (A)'])

     V_m  Current (A)  Power (W)
0  4.098        0.997   4.085706
1  4.096        0.998   4.087808
2  4.094        0.999   4.089906
3  4.093        0.998   4.084814
4  4.092        0.999   4.087908

In [19]:
Cycle_odd

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]

In [6]:
# Calculating battery capacity

<ipython-input-6-b5a479149d70>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Resistance_odd ['Resistance'] = Resistance_odd['V_m'] / Resistance_odd['Current (A)']

         V_m  Current (A)  Resistance
10237  4.111        0.993    4.139980
10238  4.110        0.995    4.130653
10239  4.108        0.998    4.116232
10240  4.107        0.999    4.111111
10241  4.107        1.001    4.102897